<header class="site-header">
    <div class="header-content">
        <h1 class="site-title">
            <a href="/">
                <span class="header-intro-text">Hi, I'm Adrienne. I've been</span>
                <span class="header-word-flip"></span>
            </a>
        </h1>
        <ul class="header-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/library">Library</a></li>
        </ul>
    </div>
</header>
