<header class="site-header">
    <div class="header-content">
        <h1 class="site-title">
            <a href="/" class="header-home-link">
                <span class="header-intro-text">Hi, I'm Adrienne. I've been</span>
            </a>
            <span class="header-word-flip" aria-hidden="true"></span>
            <span class="header-hover-links" aria-label="Site sections">
                <a href="/designing">designing</a>
                <span class="header-link-sep">/</span>
                <a href="/developing">developing</a>
                <span class="header-link-sep">/</span>
                <a href="/reading">reading</a>
                <span class="header-link-sep">/</span>
                <a href="/writing">writing</a>
            </span>
        </h1>
    </div>
</header>
